
.jumbotron {
    background: #fff url('./assets//books.jpg') no-repeat center;
    background-size: cover;
    margin: 0;
}

.navbar {
    background-color: #26282b!important;
    
}

.navbar-light .navbar-brand {
    color: #fff;
}

.container1 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5vh;
}

.form-group {
    width: 50vh;
    margin-left: 20%;
}