
.jumbotron {
    background: #fff url('./assets//books.jpg') no-repeat center;
    background-size: cover;
    margin: 0;
    height: 20vh;
}

.navbar {
    background-color: #26282b!important;
    
}

.navbar-light .navbar-brand {
    color: #fff;
}

.container1 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5vh;
}

.form-group {
    width: 50vh;
    margin-left: 5vw;
}

#user {
    margin-left: 15.5vw;
}

.userbtn {
    margin: 1em 0 1em 32.5vw;
}

.bookbtn {
    margin: 1em 0;
}

.table1, .table2 {
    width: 40vw;
    margin-left: 5vw;
    border: groove;    
}

.table-responsive {
    overflow-y: scroll;
    height: 30vh;
}

.vl {
    border-left: 3px solid #26282b;
    height: 72vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 28vh;
  }